<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".WalletBaseApp"
        android:networkSecurityConfig="@xml/network_config"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">
        <activity
            android:name=".viewmodel.WalletHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DokuSDK">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="walletsdk.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>